@import "src/app/variables";

.main-layout {
  height: 100vh;
  display: flex;
  justify-content: space-between;

  &.dim {
    filter: brightness(0.5);
  }

  @media screen and (max-width: 1080px) {
    flex-direction: column;
    align-items: center;
  }
}

.usage-button {
  width: auto;
  margin-top: $xl;
  margin-bottom: $lg;

  button {
    margin-left: auto;
    margin-right: $xxl;
    background-color: transparent;
    border: none;
    color: white;
    font-size: $fontLg;
    display: flex;
    align-items: center;
    gap: $xs;

    &:hover {
      cursor: pointer;
    }
  }

  svg {
    height: $xl;
    width: $xl;
    fill: white;
  }

  @media screen and (max-width: 1080px) {
    margin-top: $md;
    margin-bottom: $md;
    align-items: center;

    button {
      margin: auto;
      font-size: $fontMd;
    }

    svg {
      width: $md;
      height: $md;
    }
  }
}
