$squareOne: #f0dab5;
$squareTwo: #b58962;
$highlight: #dbc348;

.chess-board {
  margin-left: 10vw; 
  margin-top: 100px;
  width: 80vh;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);


    &--square {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      $reverse: false;

      @for $i from 0 through 63 {
        &:nth-child(#{$i + 1}) {
          @if $i % 8 == 0 and $i != 0 {
            $reverse: not $reverse;
          }         

          @if $reverse {
            @if $i % 2 == 0 {
              background-color: $squareOne 
            } @else {
              background-color: $squareTwo
            }
          } @else {
            @if $i % 2 == 0 {
              background-color: $squareTwo
            } @else {
              background-color: $squareOne 
            }
          }
        }
      }

      img {
        height: 85%;
        width: 85%;
      }

      &__highlight {
        background-color: $highlight !important;
      }
    }

}
