$xs: 8px;
$sm: 12px;
$md: 16px;
$lg: 24px;
$xl: 32px;
$xxl: 64px;

$fontSm: 14px;
$fontMd: 18px;
$fontLg: 32px;
$fontXl: 48px;

$squareOneCol: #f0dab5;
$squareTwoCol: #b58962;
$squareHighlight: #dbc348;
$pgnHighlight: #535027;
$moveViewerCol: #272522;
$moveNumberCol: #949391;
$pgnCol: #acabab;
$bgCol: #302e2b;
